.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #333;
  font-family: Panchang, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 72px;
  font-weight: 700;
  line-height: 95px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 42px;
  font-weight: 700;
  line-height: 55px;
}

h3 {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.body {
  color: #000;
}

.header {
  padding: 26px;
  position: relative;
}

.header-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.header-inner {
  z-index: 10;
  border: 1px solid #000;
  padding-bottom: 100px;
  position: relative;
}

.navigation {
  text-align: center;
  border-bottom: 1px solid #000;
  padding: 20px 30px;
}

.nav-link {
  color: #464646;
  padding-left: 17px;
  padding-right: 17px;
  font-weight: 600;
  line-height: 19px;
  text-decoration: none;
  transition: all .3s;
  display: inline-block;
}

.nav-link:hover {
  color: #000;
}

.nav-link.fixed {
  color: rgba(255, 255, 255, .5);
}

.nav-link.fixed.w--current {
  color: #fff;
}

.header-content-block {
  text-align: center;
  margin-top: 80px;
}

.header-title-wrapper {
  max-width: 930px;
  margin: 40px auto;
  position: relative;
}

.header-title-vector-one {
  position: absolute;
  top: 12px;
  bottom: auto;
  left: -67px;
  right: auto;
}

.header-title-vector-two {
  position: absolute;
  top: auto;
  bottom: 14px;
  left: auto;
  right: 43px;
}

.header-title-bg-block {
  width: 476px;
  height: 146px;
  background-color: #c0fe71;
  position: absolute;
  top: 23%;
  bottom: auto;
  left: 25%;
  right: auto;
  transform: rotate(-18deg);
}

.header-title {
  z-index: 100;
  position: relative;
}

.header-info-list {
  max-width: 960px;
  grid-column-gap: 60px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.header-info-block {
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, .1);
  border: 1px solid #000;
  padding: 26px 15px 40px;
  text-decoration: none;
  transition: all .25s;
}

.header-info-block:hover {
  background-color: rgba(255, 255, 255, .32);
}

.header-info-label {
  color: #000;
  margin-top: 20px;
  margin-bottom: 17px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

.header-info-middle {
  color: #000;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
}

.header-info-bottom {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.header-arrow-down {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 45px;
  left: auto;
  right: 45px;
}

.supporters {
  padding: 100px 30px;
  position: relative;
}

.wrapper-1060 {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-1060.supporter-wrapper {
  z-index: 10;
  position: relative;
}

.wrapper-1060.session-wrapper {
  z-index: 100;
  position: relative;
}

.section-title-wrapper {
  text-align: center;
  position: relative;
}

.section-title-wrapper.sponsor-title {
  max-width: 430px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.section-title-wrapper.session-title-wrapper {
  z-index: 100;
  max-width: 480px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.section-title-wrapper-bg-block {
  width: 196px;
  height: 55px;
  background-color: #c0fe71;
  position: absolute;
  top: 9%;
  bottom: auto;
  left: 25%;
  right: auto;
  transform: rotate(-19deg);
}

.section-heading {
  z-index: 10;
  position: relative;
}

.supporter-block {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.supporter-block-item {
  height: 90px;
  border: 1px solid #000;
  position: relative;
}

.supporter-block-logo-wrapper {
  background-color: #fff;
  border: 1px solid #000;
  justify-content: center;
  align-items: center;
  transition: all .275s;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: translate(-6px, -6px);
}

.supporter-block-logo-wrapper:hover {
  background-color: #c4f48a;
  transform: translate(0);
}

.section-background-wrapper {
  text-align: center;
  position: absolute;
  top: 13%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.section-background-wrapper.attendie {
  top: auto;
  bottom: -32%;
  left: auto;
  right: 0%;
}

.section-background-wrapper.event-session {
  border-style: none;
  position: absolute;
  top: -18%;
}

.webflow-mark {
  max-width: 100px;
  border-radius: 100%;
}

.event-sessions {
  padding: 100px 30px 70px;
  position: relative;
  overflow: hidden;
}

.event-session {
  -webkit-backdrop-filter: blur(52px);
  backdrop-filter: blur(52px);
  background-color: rgba(255, 255, 255, .4);
  border: 1px solid #000;
  margin-bottom: 10px;
  padding: 35px 40px 35px 60px;
  transition: all .275s;
  position: relative;
}

.event-session:hover {
  background-color: rgba(255, 255, 255, .74);
  padding-left: 40px;
}

.event-session-vector {
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 0%;
  right: auto;
  transform: translate(-27px, -50%);
}

.event-sessions-wrapper {
  z-index: 1000;
  position: relative;
}

.event-session-time {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.speaker-title {
  color: #000;
}

.speaker-title._3 {
  max-width: 700px;
}

.speaker-title.last {
  margin-bottom: 0;
}

.navbar-fixed {
  z-index: 5000;
  transition: all .3s;
  position: fixed;
  top: auto;
  bottom: 20px;
  left: 0%;
  right: 0%;
  transform: translate(0, 200px);
}

.navbar-fixed-inner {
  max-width: 750px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  text-align: center;
  background-color: rgba(0, 0, 0, .8);
  border-radius: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.speaker-list {
  z-index: 100;
  grid-column-gap: 50px;
  grid-row-gap: 80px;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
}

.image {
  z-index: 100;
  width: 100%;
  transition: all .3s;
  position: relative;
}

.image:hover {
  filter: hue-rotate(180deg);
}

.speaker {
  position: relative;
}

.speaker-behind-border {
  width: 80%;
  height: 84%;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.spearker-behind-border-vector-wrapper {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  position: relative;
}

.spearker-info-wrapper {
  z-index: 100;
  width: 90%;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  text-align: center;
  background-color: rgba(255, 255, 255, .7);
  border: 1px solid #000;
  padding: 15px 10px;
  position: absolute;
  top: auto;
  bottom: -37px;
  left: 13%;
  right: 0%;
}

.speaker-name {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
}

.speaker-website {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.spearker-behind-border-vector {
  position: absolute;
  top: 16%;
  bottom: auto;
  left: -27px;
  right: auto;
}

.speakers {
  padding: 80px 30px 120px;
  position: relative;
}

.attendie-list {
  z-index: 100;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
}

.attendie-info {
  grid-column-gap: 6px;
  border: 1px #000;
  border-style: solid none none solid;
  align-items: center;
  padding: 20px 15px;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.attendie-info:hover {
  background-color: #c0d4f7;
}

.attendie-info.right-border {
  border-right-style: solid;
}

.attendie-info.hide {
  display: none;
}

.attendie-name {
  color: #000;
  margin-bottom: 0;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}

.attendies {
  padding: 100px 30px;
  position: relative;
  overflow: hidden;
}

.themefisher, .zainiklab {
  max-width: 140px;
}

.hashtech {
  max-width: 130px;
}

.thrivedesk {
  max-width: 157px;
}

.jouleslab {
  max-width: 151px;
}

.xgenious {
  max-width: 144px;
}

.zeroground {
  max-width: 150px;
}

.text-800 {
  font-weight: 800;
}

.footer {
  padding: 24px 24px 104px;
  position: relative;
}

.footer-bancground {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.footer-inner {
  z-index: 10;
  border: 1px solid #000;
  padding: 80px 30px;
  position: relative;
}

.footer-wrapper {
  max-width: 980px;
  grid-column-gap: 30px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .45fr 1fr;
  grid-auto-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.footer-credit-list {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-title {
  background-color: #c4f48a;
  margin-bottom: 10px;
  padding-left: 3px;
  padding-right: 3px;
  display: inline-block;
}

.footer-credit {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.footer-credit-link {
  color: #000;
  font-size: 18px;
  line-height: 30px;
}

.social-link {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #000;
  justify-content: center;
  align-items: center;
  transition: all .275s;
  display: flex;
}

.social-link:hover {
  background-color: #c4f48a;
}

.social-links {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: row;
  display: flex;
  position: relative;
  top: 20px;
}

.social-links.hide {
  display: none;
}

.organizers {
  padding: 40px 30px 100px;
  position: relative;
}

.webflow-bangladesh {
  max-width: 200px;
}

.organizer-block {
  max-width: 700px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
}

.location {
  padding-bottom: 120px;
  padding-left: 30px;
  padding-right: 30px;
}

.moar-images-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.moar-img {
  width: 100%;
  display: block;
}

.moar-img._2 {
  position: relative;
  top: 86px;
}

.moar-img._3 {
  position: relative;
  top: 30px;
  left: -61px;
}

.moar-info-grid {
  max-width: 660px;
  grid-column-gap: 80px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  margin-top: -80px;
  margin-left: auto;
  margin-right: auto;
}

.moar-map-link {
  background-color: #c4f48a;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 23px;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.moar-map-link.buy-ticket {
  text-align: center;
  cursor: not-allowed;
  justify-content: flex-start;
}

.moar-map-link.header-buy-ticket {
  max-width: 290px;
  text-align: center;
  cursor: not-allowed;
  justify-content: center;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.text-block {
  color: #000;
  margin-right: 10px;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
}

.moar-info-text {
  font-size: 16px;
  line-height: 26px;
}

.moar-logo {
  max-width: 52px;
  margin-top: 4px;
  margin-bottom: 20px;
}

.link-block {
  background-color: #fff;
  border: 1px solid #000;
  padding: 12px 14px;
  position: relative;
  top: -5px;
  left: -5px;
}

.div-block {
  border: 1px solid #000;
  margin-top: 12px;
  display: inline-block;
  position: relative;
}

.moar-logo-item {
  max-width: 60px;
}

.flowmania {
  max-width: 146px;
}

.guest-list {
  z-index: 100;
  grid-column-gap: 50px;
  grid-row-gap: 80px;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
}

.guest {
  text-align: center;
}

.guest-img {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.guest-name {
  margin-top: 20px;
  margin-bottom: 10px;
}

.guest-designation {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.guests {
  padding: 80px 30px 120px;
  position: relative;
}

.ticket-alert-modal {
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: rgba(196, 244, 138, .92);
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.modal-inner {
  width: 100%;
  max-width: 400px;
  text-align: center;
  border: 1px solid #000;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px;
  display: flex;
}

.ticket-alert-modal-text {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
}

.close-modal {
  cursor: pointer;
  background-color: #fff;
  margin-top: 20px;
  padding: 5px 6px;
}

.sovware-logo {
  max-width: 150px;
}

.gifts-grid {
  z-index: 100;
  max-width: 1220px;
  grid-column-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.gifts {
  padding: 80px 30px 120px;
  position: relative;
  overflow: hidden;
}

.grift-item-inner {
  z-index: 10;
  text-align: center;
  background-color: #fff;
  border: 1px solid #000;
  padding: 24px 10px 40px;
  transition: all .3s;
  position: relative;
}

.grift-item-inner:hover {
  transform: translate(10px, 10px);
}

.gift-icon {
  width: 23px;
  position: absolute;
  top: 10%;
  bottom: auto;
  left: -12px;
  right: auto;
}

.gift-name {
  color: #000;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 19px;
}

.gift-item {
  font-size: 14px;
  position: relative;
}

.gift-item._1 {
  z-index: 10;
}

.gift-item._2 {
  z-index: 8;
}

.gift-item._3 {
  z-index: 7;
}

.gift-item._4 {
  z-index: 5;
}

.gift-item._5 {
  z-index: 3;
}

.gift-bottom-layer {
  background-color: #fff;
  border: 1px solid #000;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: translate(10px, 10px);
}

.header-button-text {
  color: #000;
  margin-right: 0;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
}

.itclan-logo {
  max-width: 100px;
}

@media screen and (max-width: 991px) {
  .header {
    padding-bottom: 99px;
  }

  .header-inner {
    padding-bottom: 53px;
  }

  .header-content-block {
    margin-top: 40px;
  }

  .header-title-wrapper {
    margin-bottom: 40px;
  }

  .header-title-vector-one {
    top: -67px;
    left: 37px;
  }

  .header-title-vector-two {
    bottom: -41px;
    right: 42px;
  }

  .header-title-bg-block {
    width: 300px;
    height: 100px;
    left: 28%;
  }

  .header-title {
    font-size: 50px;
    line-height: 60px;
  }

  .header-info-list {
    max-width: 600px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .header-arrow-down {
    bottom: -73px;
    right: 0;
  }

  .header-arrow-down.w--current {
    bottom: -71px;
    right: 0;
  }

  .supporters {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .supporter-block {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .webflow-mark {
    max-width: 60px;
  }

  .event-sessions {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .speaker-list {
    grid-row-gap: 100px;
    grid-template-columns: 1fr 1fr;
  }

  .spearker-info-wrapper {
    left: 5%;
  }

  .speakers {
    padding-top: 20px;
    padding-bottom: 120px;
  }

  .attendie-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .attendies {
    padding-bottom: 80px;
  }

  .footer-inner {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-wrapper {
    grid-row-gap: 50px;
    grid-template-columns: 1fr;
  }

  .location {
    padding-bottom: 60px;
  }

  .moar-info-grid {
    margin-top: -25px;
  }

  .moar-map-link {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .moar-map-link.header-buy-ticket {
    margin-bottom: 60px;
  }

  .div-block {
    display: inline-block;
  }

  .guest-list {
    grid-row-gap: 100px;
    grid-template-columns: 1fr 1fr;
  }

  .guests {
    padding-top: 20px;
    padding-bottom: 120px;
  }

  .footer-organiser-block {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }

  .gifts-grid {
    grid-row-gap: 40px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gifts {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .header-title-wrapper {
    margin-top: 80px;
    margin-bottom: 100px;
  }

  .header-title-vector-one {
    left: 50%;
    transform: translate(-50%);
  }

  .header-title-vector-two {
    bottom: -68px;
    right: 50%;
    transform: translate(50%);
  }

  .header-title-bg-block {
    display: none;
  }

  .navbar-fixed {
    transform: none;
  }

  .attendie-list {
    grid-template-columns: 1fr 1fr;
  }

  .footer-inner {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer-credit-list {
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
  }

  .footer-credit.hide {
    display: none;
  }

  .social-links {
    top: 0;
  }

  .moar-images-grid {
    grid-template-columns: 1fr;
  }

  .moar-img._2 {
    top: 0;
  }

  .moar-img._3 {
    top: 0;
    left: 0;
  }

  .moar-info-grid {
    grid-template-columns: 1fr;
    margin-top: 0;
  }

  .moar-logo {
    max-width: 200px;
  }

  .moar-logo-item {
    max-width: 60px;
  }

  .tinyflow-logo {
    max-width: 200px;
  }

  .guest-list {
    max-width: 350px;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .ticket-alert-modal {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sovware-logo {
    max-width: 200px;
  }

  .gifts-grid {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .header {
    padding: 15px 15px 80px;
  }

  .header-inner {
    padding-bottom: 20px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .navigation {
    margin-left: -15px;
    margin-right: -15px;
    padding: 12px 0;
  }

  .nav-link {
    padding: 3px 12px;
    display: inline-block;
  }

  .nav-link.fixed {
    font-size: 12px;
    display: inline-block;
  }

  .header-title {
    font-size: 36px;
    line-height: 50px;
  }

  .header-info-list {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    padding-left: 0;
    padding-right: 0;
  }

  .header-arrow-down {
    bottom: -60px;
  }

  .supporters {
    padding-top: 40px;
  }

  .section-title-wrapper-bg-block {
    width: 150px;
    height: 29px;
    top: 33%;
  }

  .section-heading {
    font-size: 30px;
    line-height: 30px;
  }

  .supporter-block {
    grid-template-columns: 1fr;
  }

  .event-sessions {
    padding-bottom: 20px;
  }

  .event-session {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .event-session-vector {
    max-width: 20px;
    transform: translate(-11px, -50%);
  }

  .navbar-fixed {
    bottom: 0;
    transform: translate(0, 200px);
  }

  .navbar-fixed-inner {
    border-radius: 0;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .speaker-list {
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr;
  }

  .speakers {
    padding-bottom: 100px;
  }

  .attendie-list {
    grid-template-columns: 1fr;
  }

  .attendies {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer {
    padding-bottom: 123px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-inner {
    padding-left: 20px;
    padding-right: 20px;
  }

  .social-links {
    margin-top: 10px;
  }

  .organizers {
    padding-bottom: 60px;
  }

  .organizer-block {
    grid-row-gap: 23px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .moar-map-link.buy-ticket {
    padding-left: 10px;
    padding-right: 10px;
  }

  .moar-map-link.header-buy-ticket {
    margin-bottom: 40px;
  }

  .text-block.participant-text {
    font-size: 14px;
  }

  .guest-list {
    grid-row-gap: 60px;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr;
  }

  .guests {
    padding-bottom: 100px;
  }

  .gifts-grid {
    max-width: 230px;
    grid-template-columns: 1fr;
  }

  .gifts {
    padding-top: 40px;
  }
}

#w-node-_3f4617be-0fed-86a2-ea31-c36905931515-0ad6daa6, #w-node-c6fcb88e-a0a6-35b8-aaa1-188f5e4a5973-0ad6daa6, #w-node-_801f6a01-9fe8-ad98-64c3-4233d816e5c1-0ad6daa6, #w-node-ceef1aa2-5ad0-8ee8-a73c-600666dd82d4-0ad6daa6, #w-node-dcc43e47-f666-a043-febc-1f703c699a58-0ad6daa6, #w-node-_359e7415-4d82-cb62-e9d3-c816bfe27ed4-0ad6daa6, #w-node-_0ef80bd3-14e5-93d3-14a9-7fe3756eada0-0ad6daa6, #w-node-d8671206-9c92-0892-eca6-bdb3eed02f29-0ad6daa6, #w-node-_4e59c9ac-c293-db93-67dc-5e82984fbdcb-0ad6daa6, #w-node-_8d1d7b8b-b31f-626d-2784-7e009702318a-0ad6daa6, #w-node-_56b6e07a-cb89-a231-8e9e-fef5726a94e2-0ad6daa6, #w-node-_7fc381ca-4ae5-b682-cd78-9a6e6fd81a8f-0ad6daa6, #w-node-_6ed31e34-93d6-5bd7-2669-3140666ae28a-0ad6daa6, #w-node-a2b3080c-56e2-c694-36b3-9891dbfa057d-0ad6daa6, #w-node-c148aa85-e33b-4d02-1404-1624761b97e1-0ad6daa6, #w-node-f9223031-6e0d-150e-6c24-3ddd8861cb1c-0ad6daa6, #w-node-_39137797-ecdb-25da-e8f9-9f61bde1a997-0ad6daa6, #w-node-f6deb5d5-d203-72cd-f7b0-5002c8065cff-0ad6daa6, #w-node-_38efbf79-87f7-244d-20ea-f2dbd3454756-0ad6daa6, #w-node-_550f19a6-6b0a-38a7-3d19-b5ce033cbf36-0ad6daa6, #w-node-d7ed82ca-8376-9796-aba0-d57ac6696e5b-0ad6daa6, #w-node-fbdc113e-9618-1d24-155f-a855334e3283-0ad6daa6, #w-node-a5658943-1592-dd74-eb9e-897109b8b552-0ad6daa6, #w-node-_3727e5c9-5ade-4e53-2cde-72ec438562eb-0ad6daa6, #w-node-_898fef59-8c19-2eb5-f14f-34d2e491abad-0ad6daa6, #w-node-_9a40e94b-6c10-acb4-933d-92dfe908060c-0ad6daa6, #w-node-_612ccf45-f2e5-7b67-e411-548c228726ad-0ad6daa6, #w-node-ce3026c7-ab30-1071-b823-2223535a62e7-0ad6daa6, #w-node-_3208e698-13fb-9aed-82dd-ed09eb0493eb-0ad6daa6, #w-node-_5d3a8cc6-51f0-d2a3-d50c-4a00bb9988f9-0ad6daa6, #w-node-_7ce9b27c-5519-0463-655f-0709bb34d548-0ad6daa6, #w-node-_73f392e1-87f5-ec96-c254-08092512f84a-0ad6daa6, #w-node-_60f1fc73-d516-8390-0b74-f9bc9a3259af-0ad6daa6, #w-node-_1b0c0930-6daa-b12f-915f-85ca607806f8-0ad6daa6, #w-node-_46d4bd7a-6e8e-f996-394e-1a14087db18f-0ad6daa6, #w-node-_7a7c2951-739c-41c5-62e2-5478e8d57742-0ad6daa6, #w-node-_9b22891f-ba3f-8956-cf4d-e9c079e1b327-0ad6daa6, #w-node-_57ea1b83-3d52-4fe2-c8e9-1a507f4972e4-0ad6daa6, #w-node-_6e038b1c-0fd2-4a7e-a37c-7f8101508b26-0ad6daa6, #w-node-efc6a6a6-fe3e-0482-e729-981b3c822ec5-0ad6daa6, #w-node-b07e3882-2d93-0116-29de-71361fae2583-0ad6daa6, #w-node-ec8b8ee5-005e-5459-37c4-0a84095a77d5-0ad6daa6, #w-node-e7e2e980-99fb-7779-f2bc-4eeb74689665-0ad6daa6, #w-node-_6528639d-5028-ad15-7377-df1e4de0b158-0ad6daa6, #w-node-_6a01d854-4582-680e-5cb0-0ee9cad85622-0ad6daa6, #w-node-_02b46cf1-3c8a-0b96-790b-4a832ad3de96-0ad6daa6, #w-node-_02b46cf1-3c8a-0b96-790b-4a832ad3de97-0ad6daa6, #w-node-_9b659d26-bf59-6327-68f3-862100568bc0-0ad6daa6, #w-node-_9b659d26-bf59-6327-68f3-862100568bc1-0ad6daa6, #w-node-b7667e77-b01b-b087-654e-5a7e7511d0e7-0ad6daa6, #w-node-b7667e77-b01b-b087-654e-5a7e7511d0e8-0ad6daa6, #w-node-_0564c041-5068-5ee6-6a47-03f78014ed60-0ad6daa6, #w-node-_0564c041-5068-5ee6-6a47-03f78014ed61-0ad6daa6, #w-node-f1a9648a-d17c-e76a-1355-104aa6c4b435-0ad6daa6, #w-node-f826efea-1371-b2fa-a89d-64b12c08f85b-0ad6daa6, #w-node-_5ded349f-4297-30f5-dc98-7be968ff999d-0ad6daa6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f19fb7be-95e4-8393-b1fe-cc0dbd88739b-0ad6daa6 {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#w-node-_35e7ba44-8f2c-491c-c9a3-0dddc9688ce8-0ad6daa6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 767px) {
  #w-node-_35e7ba44-8f2c-491c-c9a3-0dddc9688ce8-0ad6daa6 {
    order: -9999;
  }
}


@font-face {
  font-family: 'Panchang';
  src: url('../fonts/Panchang-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Panchang';
  src: url('../fonts/Panchang-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Panchang';
  src: url('../fonts/Panchang-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Panchang';
  src: url('../fonts/Panchang-Extrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Panchang';
  src: url('../fonts/Panchang-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Panchang';
  src: url('../fonts/Panchang-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}